* {
    margin:0;
    padding:0;
}
body{
    background-color: #865fcf;
    text-align: center;

}
.container
{
    height:70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game
{
    height: 60vmin;
    width:60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 3rem;
    border:none;
    gap:1.5vmin;
}
.box
{
    height: 18vmin;
    width:18vmin;
    border-radius: 1rem;
    border:none;
    font-size: 8vmin;
    background-color:bisque;
    color: red;
}
#btn
{
    height: 5vh;
    width:15vh;
    background-color: black;
    color: #fff;
    border-radius: 3rem;
    border:none;

}
#btns
{
    height: 5vh;
    width:15vh;
    background-color: black;
    color: #fff;
    border-radius: 3rem;
    border:none;

}
#msg
{
    color:white;
    font-size:8vmin;
}
.msg-container
{
    height:30vmin;
}
.hide{
    display: none;
}